a{
    color: #1F5014;
    transition: all ease-in 200ms;
}
a:hover{
    text-decoration: none;
    color: #1F5014;
    transition: all ease-in 200ms;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100
}
.lazyload {
    opacity: 0;
}
.lazyloading {
    opacity: 1;
    transition: opacity 0.3s;
    background-color: #ededed !important;
}
.form-control{
    box-shadow: none !important;
}
.image-responsive--lg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all .2s ease-out 0s;
}

.image-responsive {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}

.image-responsive:before {
    content: "";
    padding-bottom: 60%;
    display: block;
}

.image-responsive:hover .image-responsive--lg {
    transition: all .2s ease-out;
    transform: scale(1.3);
}


.list-inline-block {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-inline-block > li {
    display: inline-block;
    vertical-align: top;
}
.list-inline-block a{
    padding-left: 10px;
    padding-right: 10px;
}

.header__logo {
    background-color: #f7f7f7;
}

.header__top__right__search {
    width: 190px;
    height: 26px;
    border: 1px solid #dfdfdf;
    background-color: #f6f6f6;
    border-radius: 4px;
    padding: 0 24px 0 10px;
    position: relative;
    color: #787878;
    font-size: 13px;
    margin: 5px 20px 0px 0;
}

.header__top__right__search button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
}

input:focus, textarea:focus, input:visited, textarea:visited {
    outline: none;
}


.header__top__right__search input {
    width: 100%;
    border: none;
    background-color: transparent;
    height: 24px;
    line-height: 25px;
    font-size: 13px;
    color: #8b8b8b;
}

.header__top__right__search:after {
    content: "";
    float: left;
    width: 1px;
    height: 23px;
    background-color: #dfdfdf;
    position: absolute;
    right: -20px;
    top: 1px;
}


.news__content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #fff !important;
    padding: 15px 15px;
    transition: all ease .3s;
    background-color: rgba(0, 0, 0, 0.7);
}

.news__content__title {
    font-size: 16px;
    color: white;
    padding: 10px;
}

.news__title {
    border-bottom: 2px solid #1F5014;
    margin: 0 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.news__title--active {
    background-color: #1F5014;
    color: #fff !important;
    padding: 12px 15px 8px 15px;
}

.news__title a {
    text-transform: uppercase;
    font-weight: bold;
    color: #999;
    font-size: 14px;
    line-height: 20px;
}

.news__title a:not(.news__title--active) {
    margin: 11px 15px 9px 15px;
}

.news__viewer__title {
    color: #000;
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border-left: 3px solid #1F5014;
    padding-left: 10px;
    border-bottom: 0;
    padding-top: 2px;
}

.header__menu {
    margin: 24px 0;
    background-color: #1F5014;
}

.header__menu > ul > li > a {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 15px 11px 15px;
    color: #fff;
}

.header__menu ul li ul {
    width: 165px;
    min-width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all ease-in-out .3s;
    transform-origin: top;
    transform: scaleY(0);
    z-index: 100;
    background: #f9f9f9;
    box-shadow: 0px 2px 4px 0px;
}

.header__menu ul li {
    position: relative;
}

.header__menu > ul > li:first-child:before, .header__menu ul li.pn-dropdown > .fa {
    display: none;
}

.header__menu ul li:hover > ul {
    transform: scaleY(1);
}

.header__menu ul li ul li:hover {
    background-color: #f3f3f3;
}

.header__menu ul li ul li {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
}

.header__menu ul li a {
    color: #000;
    font-size: 14px;
    line-height: 19px;
    display: block;
    padding: 10px 15px;
}

.header__menu > ul > li:first-child {
    margin-left: 0;
}

.header__menu > ul > li > a {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 15px 11px 15px;
    color: #fff;
}

.header__menu > ul > li.active > a, .header__menu > ul > li:hover > a {
    background-color: #4d4747;
}

.news__market--wrap {
    padding: 20px;
    margin-top: -20px;
    margin-bottom: 25px;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    background: rgb(0, 0, 0);
    background: linear-gradient(
            0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.5) 16%, rgba(255, 255, 255, 1) 100%);
}

.news__title--lg{
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
}

.news__title--small{
    color: #000;
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.news__description{
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #444;
}
.news__title--small--viewer{
    font-size: 12px;
    font-weight: 500;
}
.news__viewer{
    padding: 10px;
    border: 1px solid #dfdfdf;
    margin-bottom: 20px;
}
.news__date{
    font-size: 13px;
    line-height: 18px;
    color: #999;
}

.news__date a{
    color: #1F5014;
    font-weight: 600;
    margin-right: 10px;
}

.bread__crumb {
    border-bottom: 1px solid #dfdfdf;
    margin: 20px;
}

.contact__title{
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    border-bottom: 0;
    font-weight: bold;
}

.contact__title:after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #1F5014;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
}

.bread__crumb strong {
    font-weight: normal;
    position: relative;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    font-style: italic;
    color: #8b8b8b;
    margin-bottom: 10px;
}
.sidebar-icon{
    color: #1F5014;
}
.dropdown-container {
    display: none;
    background-color: #f2f2f2;
}
footer{
    background-color: #10181e;
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    color: #fff;
}
.footer__social a {
    width: 36px;
    height: 36px;
    text-align: center;
    background-color: #313d47;
    border-radius: 18px;
    color: #fff;
    text-align: center;
    line-height: 38px;
    margin: 0 5px;
    display: inline-block;
    transition: all 0.3s ease-in;
}

.footer__social a:hover {
    background-color: #1F5014;
    color: white;
}

.footer__social__title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}
.footer__copyright{
    padding: 10px 0 15px 0;
    border-top: 1px solid #283035;
}