
.news-slider {
    position: relative;
    overflow: hidden;
}

.news-slider .item {
    display: block;
    position: relative;
    height: 180px;
}

.news-slider .item img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: fill;
}

.tns-outer .tns-controls button {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    box-shadow: none;
    font-size: 0px;
    background: rgba(0, 0, 0, 0.6);
    outline: none;
    display: inline-block;
    width: 28px;
    height: 40px;
    z-index: 9;
    color: #fff;
    border-radius: 3px;
}

.news-slider .owl-nav [class*=owl-] {
    background: transparent;
}

.news-slider .owl-nav {
    display: block;
    position: relative;
    bottom: 140px;
}

.owl-prev {
    position: absolute;
    left: -50px;
}

.owl-next {
    position: absolute;
    right: -50px;
}

.news-slider .owl-dots .owl-dot.active span {
    background: #e09422;
    width: 30px;
    transition: all 0.5s;
}

.news-slider .owl-dots .owl-dot span {
    background: #e09422;
}