/*Default Color*/
$grey: #393e40;
$grey-semi: #f7f7f7;
$grey-semi-light: #999;
$grey-light: #ccc;
$grey-medium: #666;
$blue: #1ba100;
$blue-light: #679928;
$blue-dark: #008644;
$blue-light-dark: #00a651;
$blue-dark-bold: #007c41;
$blue-semi-dark: #00a751;
$green: #72bf44;
$green-light: #c8e2b0;
$green-semi: #8cc75c;
$dark-black: #333;
$yellow: #fff669;
$yellow-semi: #ffc120;
$black: #000;
$light-black: #303030;
$white: #fff;
$black-semi: #555;
$grey-medium-light: #f4f4f4;
$orange: #f16c27;
$red-dark: #a01111;
$red: #ff5622;
$red-semi: #9e0b0f;
/*Text color*/
$txt-hover: $blue;
$txt-lg: $black;
$txt-btn: $yellow;
$txt-para: $black-semi;
$txt-nav: $dark-black;
$txt-copyright: $grey-semi-light;
$txt-price: $red;
$txt-title-product: $light-black;
$txt-star: $yellow-semi;
$txt-support: $red-dark;
$txt-more: $green-semi;
$txt-hover-nav: $red-semi;
$txt-title: $blue-dark-bold;
$txt-info: $blue-semi-dark;
/*Background color*/
$bg-header: $grey;
$bg-btn-view: $dark-black;
$bg-btn-slider: $yellow;
$bg-icon: $yellow;
$bg-btn-more: $blue;
$bg-news: $grey-medium-light;
$bg-more: $blue-light;
$bg-footer: $grey-medium;
$bg-breadcrumb: $grey-semi;
$bg-pagination: $yellow;
$bg-nav: $blue-dark;
$bg-toggle-product: $blue-dark-bold;
$bg-title: $green;
$bg-cart: $green-semi;
/*Border color*/
$br-img: $grey-light;
$br-search: $blue-dark;
$br-more: $green-light;
$text-shadow: $blue-light-dark;
/*Fontsize*/
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-26: 26px;
$fs-36: 36px;
$fs-48: 48px;
//Đường dẫn
$path-image: '../img/';
$path-font: '../fonts/';




