.header__logo {
  background-color: #f7f7f7;
}
.header__top__right__search {
  width: 190px;
  height: 26px;
  border: 1px solid #dfdfdf;
  background-color: #f6f6f6;
  border-radius: 4px;
  padding: 0 24px 0 10px;
  position: relative;
  color: #787878;
  font-size: 13px;
  margin: 5px 20px 0px 0;
  button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
  }
  input {
    width: 100%;
    border: none;
    background-color: transparent;
    height: 24px;
    line-height: 25px;
    font-size: 13px;
    color: #8b8b8b;
  }
  &:after {
    content: "";
    float: left;
    width: 1px;
    height: 23px;
    background-color: #dfdfdf;
    position: absolute;
    right: -20px;
    top: 1px;
  }
}

.header__menu {
  margin: 24px 0;
  background-color: #1F5014;
  >ul {
    >li {
      >a {
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 12px 15px 11px 15px;
        color: #fff;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 12px 15px 11px 15px;
        color: #fff;
      }
      &:first-child {
        &:before {
          display: none;
        }
        margin-left: 0;
      }
      &:hover {
        >a {
          background-color: #4d4747;
        }
      }
    }
    >li.active {
      >a {
        background-color: #4d4747;
      }
    }
  }
  ul {
    li {
      ul {
        width: 165px;
        min-width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        transition: all ease-in-out .3s;
        transform-origin: top;
        transform: scaleY(0);
        z-index: 100;
        background: #f9f9f9;
        box-shadow: 0px 2px 4px 0px;
        li {
          &:hover {
            background-color: #f3f3f3;
          }
          width: 100%;
          border-bottom: 1px solid #e6e6e6;
        }
      }
      position: relative;
      &:hover {
        >ul {
          transform: scaleY(1);
        }
      }
      a {
        font-size: 14px;
        line-height: 19px;
        display: block;
        padding: 10px 15px;
      }
    }
    li.pn-dropdown {
      >.fa {
        display: none;
      }
    }
  }
}
