.nav-navbar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $bg-nav;
  .nav-link{
    color: $white;
    font-weight: bold;
    &:hover{
      color: $txt-hover-nav;
    }
  }
  .navbar-toggler{
    width: 28px;
    padding: 0;
    margin-left: 15px;
    .minus{
      width: 100%;
      height: 5px;
      background: white;
      margin: 4px auto;
      @include animation(transition, all 0.3s);
      backface-visibility: hidden;
    }
  }
  .collapse-in{
    .minus-one{
      @include animation(transform, rotate(45deg) translate(5px, 5px));
    }
    .minus-two{
      opacity: 0;
    }
    .minus-three{
      @include animation(transform, rotate(-45deg) translate(7px, -8px));
    }
  }
  @media (max-width: 991px){
    .caret-down{
      position: absolute;
      right: 5px;
      border: 1px solid $bg-nav;
      padding: 0 4px;
      top: 5px;
      color: $bg-nav;
      font-size: 16px;
    }
    .dropdown,.dropdown-submenu{
      position: relative;
    }
    .brand-logo{
      img{
        width: 60px;
      }
    }
    .navbar-toggler:focus{
      outline: none;
    }
    .fa-bars,.fa-times{
      font-size: 30px;
      color: $white;
    }
    .dropdown-menu{
      border-radius: 0;
      border: 0;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
      .dropdown-item{
        padding-left: 15px;
        font-size: 16px;
        .fas{
          color: $txt-hover;
        }
      }
      .dropdown-menu{
        .dropdown-item{
          padding-left: 30px;
        }
      }
    }
  }
}
.toggle-product{
  display: flex;
  border: 0;
  background-color: $bg-toggle-product;
  color: $white;
  margin-right: 30px;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  .fa-bars{
    font-size: 26px;
    margin-right: 10px;
  }
  @media (max-width: 991px){
    background-color: transparent;
    margin-right: 0;
    .fa-bars{
      color: $white;
    }
  }
}
@media (min-width: 992px) {
  /* menu cấp 1 */
  .nav-navbar{
    .navbar-nav{
      .nav-link{
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
  .nav-navbar ul li {
    float: none;
    position: relative;
  }
  /* menu cấp 2 */
  .nav-navbar ul ul {
    position: absolute;
    top: 60px; /* để hiệu ứng chạy lên 30px */
    left: 0;
    visibility: hidden;
    transition: all ease-out 200ms; /* all tất cả các thuộc tính */
    -moz-transition: all ease-out 200ms;
    -webkit-transition: all ease-out 200ms;
    opacity: 0;
    display: initial;
    background-color: $white;
  }
  .nav-navbar ul ul li {
    min-width: 200px;
  }
  .nav-navbar .dropdown-menu{
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
  }
  .nav-navbar .dropdown-menu .nav-link {
    color: $txt-nav;
  }
  .nav-navbar .dropdown-menu .nav-link:hover {
    color: $white;
  }
  .nav-navbar ul li.dropdown > ul > li > a,
  .nav-navbar ul li.dropdown-submenu > ul > li > a {
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    color: $txt-nav;
    padding-right: 10px;
    font-size: $fs-16;
  }
  .nav-navbar ul li.dropdown > ul > li:last-child > a,
  .nav-navbar ul li.dropdown-submenu > ul > li:last-child > a {
    border-bottom: 0;
  }
  .nav-navbar ul li.dropdown-submenu > ul {
    margin-top: 0;
  }
  .nav-navbar ul li.dropdown-submenu > ul > li {
    margin-top: 0;
    margin-bottom: 0;
  }
  //.nav-navbar ul ul li.dropdown-submenu > a:after{
  //  font-family: "Font Awesome 5 Free";
  //  content: "\f054";
  //  padding-left: 10px;
  //}
  .nav-navbar ul ul ul.dropdown-menu {
    padding-top: 0;
  }
  /* menu cấp 3 */
  .nav-navbar ul ul ul li {
    min-width: 250px;
    margin: 1px 0
  }
  .nav-navbar ul ul ul {
    position: absolute;
    top: 0;
    left: 200px; /* Khoảng cách này phía xa để nó chạy vào*/
  }
  /*đóng mở menu*/
  .nav-navbar ul li:hover > ul {
    visibility: visible;
    top: 96%;
    opacity: 1;
    border-radius: 0;
    min-width: 200px;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .nav-navbar ul ul li:hover > ul {
    top: 0;
    left: 200px;
    opacity: 1;
  }
  .nav-navbar .dropdown-item:hover, .nav-navbar .dropdown-item:focus{
    background-color: $txt-hover;
    color: $white !important;
  }
}